.formulario{
  display: block;
  background-color: rgba(91, 4, 5,70%);
  margin-top:2em;
  text-align: center;
}
/* h2{
  position: fixed;
} */
.campo{
  margin-top: 1em;
  margin-bottom: 1em;
  color: #FFF;
}
label{
  color: #FFF;
  font-weight: bolder;
}
.titulo{
  color: #FFF;
  font-weight: bolder;
}
