@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Passion+One:wght@700&family=Roboto:ital,wght@0,300;1,400&display=swap');
body{
  background-image: url("/img/textura2.png");
  background-size: cover;
  background-position: center;
  font-family:'Roboto', sans-serif;
  font-size: 1.2em;
}
h2,p{
  color: white;
  font-weight: 700;
}
.botonvermas{
  background-color: rgb(91, 4, 5);
  color: #FFF;
  font-size: 1.2em;
  font-family:'Roboto', sans-serif;
}
.container{
  display: block;
  margin-top: 2em;
  align-items: center;
  padding: 1.2em;
  text-align: center;
}
.footer{
  margin-top: 10em;
  text-align: center;

}
.carta{
  background-color: rgba(91, 4, 5,70%)

}
